<ion-header>
  <ion-toolbar text-left>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'EER.SUBTITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-softest">
  <form>
    <ion-item>
      <ion-label position="floating">{{'SHARED.HEIGHT' | translate}} (cm)</ion-label>
      <ion-input clearInput appToPositiveNumber type="number" min="1" [(ngModel)]="height" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'SHARED.WEIGHT' | translate}} (kg)</ion-label>
      <ion-input clearInput appToPositiveNumber type="number" min="1" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'EER.AGE' | translate}} </ion-label>
      <ion-input clearInput appToPositiveNumber type="number" min="1" [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
  </form>

  <ion-radio-group [value]="genre" #genreRadioButton>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{'SHARED.WOMAN' | translate}}</ion-label>
          <ion-radio value="{{GenreEnum.WOMAN}}"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{'SHARED.MAN' | translate}}</ion-label>
          <ion-radio value="{{GenreEnum.MAN}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <div class="result animated fadeIn" [hidden]="!result">
    <ion-label>{{'SHARED.RESULT' | translate}}: {{ result | number:'1.0-2'}}</ion-label>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="clear" (click)="onClickCalc()" [disabled]="disableButton()">
      <ion-label>{{'SHARED.CALC' | translate}}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
